.autocomplete {
  position: relative;
  width: 300px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 106%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 8px;
  cursor: pointer;
  text-align: left;
}

li:hover {
  background-color: #f0f0f0;
}

.highlight {
  font-weight: bold;
}
